 /* Estilos para la lista de productos en el carrito */
 .modal-body > div {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

/* Estilos para el total del carrito */
.modal-body > div:last-child {
  border-bottom: none;
  font-weight: bold;
}

/* Estilos para el botón Cerrar de los modales */
.modal-footer {
  justify-content: center;
}

/* Estilo personalizado para ocultar la línea bajo el modal */
.modal-content {
  border: none; /* Elimina el borde inferior */
  box-shadow: none; /* Elimina la sombra */
}



/* Estilos para el contenido del modal */
.search-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Estilos para el botón de búsqueda */
.search-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el botón de cierre */
.close-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


  
  
  
  
 

  
  